.card {
  margin-left: 1rem;
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
}
.img {
  width: 200px;
  height: 250px;
  border-radius: 1.2rem;
}
.card-title {
  color: cadetblue;
}
.card-text {
  color: white;
  font-weight: 900;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
